.Login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ocupa toda la altura de la vista */
    width: 100%;
    background-color: #2271b3;
    padding: 20px;
    box-sizing: border-box;
}

.Login-card{
    font-family: sans-serif;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); /* Sombra*/
    width: 20%;
    text-align: center;
}

.Login-card h2{
    margin-bottom: 30px;
    margin-top: 10px;
    color: darkblue;
    font-size: 25px;
}

.input-group{
    text-align: left;
    margin-bottom: 12px;
}

.input-group label{
    display: block;
    text-align: center;
    margin-bottom: 8px;
    font-size: 18px;
    color: rgb(113, 36, 185);
}

.input-group input{
    width: 91%;
    padding: 12px;
    border: 1px solid;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 800;
    border-color: darkcyan;
    margin-bottom: 5px;
}

.login-button{
    width: 100%;
    padding: 14px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

.login-button:hover {
    color: black;
    background-color: lightblue;
    transition: color 0.3s ease;
}

.forgot-password{
    margin-top: 25px;
    margin-bottom: -10px;
    font-size: 14px;
}

.forgot-password a {
    color: rgb(113, 36, 185);
    text-decoration: none;
}

